<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
</head>
<body>
<h1>Delete page</h1>
<a th:href="@{/notes}">Back to list</a><br>
<h3>Do you sure want to delete this post!!!</h3>
<span style="color:green;" th:if="${message}" th:text="${message}"></span><br>
<form th:action="@{/notes/delete}" method="post">
    <table>
        <tr>
            <td>id: </td>
            <td th:text="${note.id}"></td>
        </tr>
        <tr>
            <td>title: </td>
            <td th:text="${note.title}"></td>
        </tr>
        <tr>
            <td>content: </td>
            <td th:text="${note.content}"></td>
        </tr>
        <tr>
            <td>type: </td>
            <td th:text="${note.type.getName()}"></td>
            <!--<td th:text="" name="type" th:value="${null}"></td>-->
        </tr>
    </table>
    <input type="submit" value="delete">
    <input type="hidden" th:value="${note.id}" name="id">
</form>
</body>
</html>