<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        table, td, th{
            border:1px solid #000;
        }
    </style>
</head>
<body>
<h1>List notes</h1>
<a th:href="@{notes/create}">New note</a>
<a th:href="@{notes/createtype}">Create Type</a>
<table th:object="${notes}">
    <tr>
        <th>#</th>
        <th>title</th>
        <th>content</th>
        <th>type</th>
        <th>delete/edit</th>
    </tr>
    <tr th:each="note : ${notes}">
        <td><a th:href="@{notes/view/{id}(id=${note.id})}"  th:text="${note.id}"></a></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td th:text="${note.type.getName()}"></td>
        <td><a th:href="@{notes/edit/{id}(id=${note.id})}">edit</a> | <a th:href="@{notes/delete/{id}(id=${note.id})}">delete</a></td>
    </tr>
</table>

<div>
    <a th:href="@{'/notes'(page=${notes.number - 1})}" th:if="${notes.hasPrevious()}">Previous</a>
    <span th:text="${notes.number + 1}"></span>/<span th:text="${notes.totalPages}"></span>
    <a th:href="@{'/notes'(page=${notes.number + 1})}" th:if="${notes.hasNext()}">Next</a>
</div>
</body>
</html>